Analiza Danych Sklepu GryNar

Witajcie w raporcie analizy danych dotyczącej GryNar - miejscu, które nie tylko oferuje gry do kupienia i wypożyczenia, ale także organizuje turnieje dla pasjonatów. Skupimy się na kluczowych aspektach działalności, takich jak pracownik miesiąca, najlepsi zawodnicy oraz gra generująca największe dochody. Poprzez tę analizę dążymy do lepszego zrozumienia naszej działalności i doskonalenia usług, aby zapewnić klientom wyjątkowe doświadczenia gamingowe.

Zapraszamy do odkrywania prezentowanych danych i wnioskowania z nich, co pomoże nam kontynuować naszą misję jako liderów w świecie gamingu.

Z wyrazami szacunku,

Zespół GryNar

In [9]:
from Analiza_danych import *
import pandas as pd
import mysql.connector
import matplotlib.pyplot as plt

In [10]:
con = mysql.connector.connect(
                host = "127.0.0.1",
                user = "root",
                password = "password",
                database = "clients_base",
                )
if not con:
                raise Exception("connection error")
cs = con.cursor()

Tabela poniżej przedstawia najlepszych pracowników w każdy miesiącu działania sklepu.

In [3]:
df = pd.DataFrame(staff_ranking(cs),columns=["Date","Staff_id","First_name","Last_Name","Earn"])
print("Pracownicy miesiąca")
df

Pracownicy miesiąca

       Date  Staff_id  First_name Last_Name  Earn
0   2023-03         3     Mikołaj   Stępień   220
1   2023-02         4  Franciszka  Krawczyk   278
2   2023-01         1      Witold     Dudek   359
3   2022-12         5     Dominik     Zając   488
4   2022-11         3     Mikołaj   Stępień   231
5   2022-10         2     Dominik     Dudek   573
6   2022-09         5     Dominik     Zając   207
7   2022-08         1      Witold     Dudek   233
8   2022-07         1      Witold     Dudek   557
9   2022-06         2     Dominik     Dudek    73
10  2022-05         5     Dominik     Zając    91
11  2022-04         1      Witold     Dudek   244
12  2022-03         2     Dominik     Dudek   226
13  2022-02         3     Mikołaj   Stępień   330
14  2022-01         2     Dominik     Dudek   213
15  2021-12         1      Witold     Dudek   346
16  2021-11         5     Dominik     Zając   369
17  2021-10         1      Witold     Dudek   133
18  2021-09         2     Dominik     Dudek   255
19  2021-08         2     Dominik     Dudek   213
20  2021-07         5     Dominik     Zając   115
21  2021-06         3     Mikołaj   Stępień   230
22  2021-05         5     Dominik     Zając   407
23  2021-04         3     Mikołaj   Stępień   107
24  2021-03         2     Dominik     Dudek   116
25  2021-02         3     Mikołaj   Stępień   247
26  2021-01         3     Mikołaj   Stępień   231
27  2020-12         3     Mikołaj   Stępień   130
28  2020-11         3     Mikołaj   Stępień    66
29  2020-10         2     Dominik     Dudek   210
30  2020-09         3     Mikołaj   Stępień   300
31  2020-08         4  Franciszka  Krawczyk   278
32  2020-07         3     Mikołaj   Stępień   234
33  2020-06         4  Franciszka  Krawczyk    84
34  2020-05         1      Witold     Dudek    95
35  2020-04         2     Dominik     Dudek   116
36  2020-03         3     Mikołaj   Stępień    57

In [11]:

df = pd.DataFrame(top_10_tournament_players(cs,g_id=20),columns=["Game_title","First_name","Last_name","Num_of_wins"])
df

  Game_title First_name   Last_name  Num_of_wins
0      Candy  Stanisław     Nowicki            2
1      Candy    Tadeusz      Pawlak            1
2      Candy    Jolanta     Woźniak            1
3      Candy    Grażyna      Pawlak            1
4      Candy      Zenon   Kaczmarek            1
5      Candy   Antonina   Kozłowska            1
6      Candy  Michalina  Piotrowska            1
7      Candy    Grażyna        Król            1
8      Candy  Bronisław       Nowak            1
9      Candy   Jarosław   Zieliński            1

In [13]:
df=pd.DataFrame(best_players(cs),columns=["Game_title","First_name","Last_name","Num_of_wins"])
df

,Game_title,First_name,Last_name,Num_of_wins
0,Animal Upon Animal,Oliwier,Malinowski,5
1,Empire (Third Edition),Aleksandra,Nowak,5
2,Dragon Ball Z TCG (2014 edition),Adrian,Sikora,4
3,Robinson Crusoe: Adventures on the Cursed Island,Artur,Wieczorek,4
4,Colonial Diplomacy,Joanna,Wójcik,5
5,Pandemic: Fall of Rome,Adam,Zając,6
6,Haiku Warrior,Dariusz,Nowak,6
7,Warmachine Prime Mk III,Daniel,Wróbel,4
8,T.E.G.: Plan Táctico y Estratégico de la Guerra,Konrad,Zieliński,4
9,The Battle of the Little Big Horn,Dorota,Pawłowska,4
10,Pizza Box Baseball,Hubert,Krawczyk,6
11,Landyland,Antonina,Nowicka,2
12,Tattoo Stories,Joanna,Król,4
13,August Fury,Helena,Woźniak,7
14,Crossboule,Stanisław,Wiśniewski,3
15,Soulfall,Zygmunt,Szymański,3
16,Docteur Pilule,Kazimiera,Grabowska,4
17,City of the Big Shoulders,Jan,Kwiatkowski,3
18,Candy,Antonina,Kozłowska,4
19,Crossroads of Heroes,Igor,Michalski,2
20,Schlafmütze,Władysław,Mazur,3
21,APBA American Saddle Racing,Emilia,Woźniak,3
22,Amun-Re: The Card Game,Sandra,Kozłowska,2
23,Trumpet,Hubert,Wróbel,3
24,Freedom: The Underground Railroad,Marta,Jaworska,3
25,The Battle of Five Armies,Julia,Dudek,1
26,Yokai Septet,Iwona,Lewandowska,2
27,SET Junior,Ignacy,Dąbrowski,2
28,Siege,Igor,Jaworski,2
29,MindTrap,Robert,Sikora,1
30,Cephalopod,Stanisław,Kaczmarek,1
31,Dead Last,Zygmunt,Dudek,1
32,1942,Lena,Pawłowska,2
33,Djam,Łucja,Pawlak,1
34,Code Triage,Artur,Kowalczyk,1
35,BattleTech CCG,Franciszka,Majewska,1
36,Crocodile Dentist,Arkadiusz,Nowicki,1
37,King Oil,Edward,Wójcik,1
38,Wings of Glory: WW1 Rules and Accessories Pack,Sebastian,Dąbrowski,1